<!DOCTYPE html>
<html lang="en">
<head>
  <title>今日发布</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../static/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="../../../static/jQuery/3.3.1/jquery.min.js"></script>
    <script src="../../../static/js/1.12.9_umd/popper.min.js"></script>
    <script src="../../../static/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script>
    function collection(url, name, type, click_id){
        console.log(url, name, type);
        var submit_data= {
            url: url,
            name: name,
            type: type
        };

        $.ajax({
                url:"{% url 'display:add_collection' %}",
{#                启用原生模式传输#}
                tradition:true,
{#              通过JSON.stringify()方法将数组以json格式转换成字符串#}
                data:JSON.stringify(submit_data),
                type:'POST',
{#                success用来接收login()函数执行之后的return HttpResponse返回值#}
                success:function(arg){
{#                    因为接收到的是json object,所以需要调用JSON.stringify字符串化，然后解析#}
                    arg = JSON.stringify(arg);
                    var info_list= $.parseJSON(arg);
                    var alert_str=info_list.info;
                    $('#info').text(alert_str);
                    $('#'+click_id).remove();

                }
            });
    }
    </script>
   <style>
       .user-pic{
           border-radius: 50%;
           border:solid 2px #fff;
           background: #ffde00;
           overflow: hidden;
           width:60px;
           height:60px;
           float: left;
       }

       .user-name{
           min-width: 100px;
           color: #fff;
           padding-left: 22px;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           /* margin-top: 10px;*/
       }
   </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" >
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'display:index' %}">今日发布</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'display:category' '新闻' %}">新闻</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'display:category' '娱乐' %}">娱乐</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'display:category' '体育' %}">体育</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'display:category' '音乐' %}">音乐</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'display:category' '汽车' %}">汽车</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'display:category' '程序员' %}">IT</a>
    </li>
  </ul>

  <form class="form-inline" action="{% url 'display:search' %}" method="post">
      {% csrf_token %}
      <input class="form-control" type="text" placeholder="Search" name="keywords">
      <button class="btn btn-success" type="submit">搜索全站</button>
  </form>

    <p id = 'as'>1</p>
  <ul class="navbar-nav" style="position: absolute;right:0;">
      {% if not request.session.is_login %}
          <li class= "nav-item">
         <a class="nav-link" href="{% url 'login:login' %}">登录</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'login:login' %}">注册</a>
          </li>
      {% else %}
          <li class= "nav-item">
          <a class="nav-link" href="{% url 'display:personal_interest' %}">个人空间</a>
          </li>

          <li class= "nav-item">
          <a class="nav-link" href="{% url 'login:logout' %}">退出</a>
          </li>
     {% endif %}

  </ul>
</nav>

<div id="section1" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
      <div class="container">
          <div class="alert alert-info" style="margin: 1%">
            <strong id="info">{{ info }}</strong>
          </div>
          <div class="list-group" style="width: 69%;display: inline-block;">
              <h2 style="display:block;line-height:76px;">日常发布</h2>
              {% if daily_news %}
                  {% for news, picture in daily_news %}
                      <div class="list-group-item list-group-item-action" style="margin-bottom:20px; overflow: hidden;">
                          <img src="{{ picture.item_url }}" class="float-right" alt="Cinque Terre" width="100">
                          <div>
                              <div>
                                  <a href="{% url 'display:click' news.title_link %}" target="_blank" id = "link_{{ forloop.counter0 }}">{{news.item_title}}</a><span style="display: inline-block;background:rgba(0,174,255,.5);padding: 0 5px;border-radius:5px;color: #fff;line-height:1.5;font-size:1rem;margin-left:5px;cursor: pointer;">{{ news.category }}</span>
                                  <p>浏览数:<span>{{news.view_count}}</span> 来源:<span>{{news.author}}</span> 时间:<span>{{news.collect_time}}</span></p>

                                  {% if news.item_title not in collection_list %}
                                      <button id='click_{{ forloop.counter0 }}' type="button" class="btn btn-outline-primary" onclick="collection('{{ news.title_link }}', '{{news.item_title}}', '{{ news.category }}', 'click_{{ forloop.counter0 }}')">
                                          收藏
                                      </button>
                                  {% else %}
                                      <button type="button" class="btn">
                                      收藏
                                     </button>
                                  {% endif %}

                              </div>
                          </div>
                      </div>
                  {% endfor %}
              {% endif %}

          </div>

          <div class="another-content" style="display:inline-block;width:30%;height:200px;padding:0 20px ;vertical-align: top;" >
              {% if request.session.is_login %}
              <div style="width:100%; background: white;margin-bottom:20px; border-radius: 8px;">
                <div class="user-pic"> <a href="{% url 'display:personal_info' %}"><img class="img-responsive img-circle" src="https://ww4.sinaimg.cn/thumb180/c0679ecagw1faxmyl9s8ig208c08c4qp.jpg" alt="头像不在了"></a></div>
                <div class="user-name"><a href="{% url 'display:personal_info' %}">{{ request.session.user_name}}</a></div>
                <p >粉丝数：<span>{{request.session.fan}}</span>收藏：<span>{{request.session.collect}}</span></p>
              </div>
              {% else %}
              <div style="width:100%; background: white;margin-bottom:20px; border-radius: 8px;">
                <div class="user-pic"> <a href=""><img class="img-responsive img-circle" src="../../../static/picture/userpic.png" alt="头像不在了"></a></div>
                <div class="user-name"><a href="{% url 'login:login' %}">未登陆</a></div>
              </div>
              {% endif %}

              <div style="width:100%; height:200px; background: white;margin-bottom:20px; margin-top:50px;">
                <ol class="d">
                    {% for news in daily_news_list %}
                    <a href="{{ news.title_link }}"><li>{{ news.item_title}}</li></a>
                    {% endfor %}
                </ol>
              </div>

          </div>
      </div>

<div class="container">
	  <div class="list-group" style="width: 69%;display: inline-block;">
	  <h2 style="display:block;line-height:76px;">今日推荐</h2>

          {% for news, picture in recommended_news %}
              <div class="list-group-item list-group-item-action" style="margin-bottom:20px; overflow: hidden;">
                  <img src="{{ picture.item_url }}" class="float-right" alt="Cinque Terre" width="100">
                  <div>
                      <div>
                          <a href="{% url 'display:click' news.title_link %}" id = re"_link_{{ forloop.counter0 }}">{{news.item_title}}</a><span style="display: inline-block;background:rgba(0,174,255,.5);padding: 0 5px;border-radius:5px;color: #fff;line-height:1.5;font-size:1rem;margin-left:5px;cursor: pointer;">{{ news.category }}</span>
                          <p>浏览数:<span>{{news.view_count}}</span> 来源:<span>{{news.author}}</span> 时间:<span>{{news.collect_time}}</span></p>
                          {% if news.item_title not in collection_list %}
                              <button id='re_click_{{ forloop.counter0 }}' type="button" class="btn btn-outline-primary" onclick="collection('{{ news.title_link }}', '{{news.item_title}}', '{{ news.category }}', 're_click_{{ forloop.counter0 }}')">
                                  收藏
                              </button>
                          {% else %}
                              <button type="button" class="btn">
                                  收藏
                              </button>
                          {% endif %}
                      </div>
                  </div>
              </div>

              {% empty %}
              <div class="alert alert-info" style="margin: 1%">
                  <strong>新用户？</strong> 还没添加兴趣爱好哦
              </div>
          {% endfor %}
      </div>
	  <div class="another-content" style="display:inline-block;width:30%;height:200px;padding:0 20px ;vertical-align: top;" >
            <div style="width:100%; background: white;margin-bottom:20px; border: 2px solid lightblue; border-radius: 8px;">
                <ol class="d">
                    {% for news in recommended_news_list %}
                        <a href="{{ news.title_link }}"><li>{{ news.item_title}}</li></a>

                        {% empty %}
                        <p>添加爱好后会有哦</p>
                    {% endfor %}
                </ol>
            </div>
	  </div>

</div>
    {% if request.session.is_login %}
    <div class="container">
	  <div class="list-group" style="width: 69%;display: inline-block;">
	  <h2 style="display:block;line-height:76px;">关键字推荐</h2>
	      {% if hit_news %}
          {% for news, picture in keywords_news %}
	      <div class="list-group-item list-group-item-action" style="margin-bottom:20px; overflow: hidden;">
	          <img src="{{ picture.item_url }}" class="float-right" alt="Cinque Terre" width="100">
	          <div>
	              <div>
	                  <a href="{% url 'display:click' news.title_link %}" id = "hit_link_{{ forloop.counter0 }}">{{news.item_title}}</a><span style="display: inline-block;background:rgba(0,174,255,.5);padding: 0 5px;border-radius:5px;color: #fff;line-height:1.5;font-size:1rem;margin-left:5px;cursor: pointer;">{{ news.category }}</span>
	                  <p>浏览数:<span>{{news.view_count}}</span> 来源:<span>{{news.author}}</span> 时间:<span>{{news.collect_time}}</span></p>
                      {% if news.item_title not in collection_list %}
                          <button id='hit_click_{{ forloop.counter0 }}' type="button" class="btn btn-outline-primary" onclick="collection('{{ news.title_link }}', '{{news.item_title}}', '{{ news.category }}', 're_click_{{ forloop.counter0 }}')">
                              收藏
                          </button>
                      {% else %}
                          <button type="button" class="btn">
                              收藏
                          </button>
                      {% endif %}
	              </div>
	          </div>
	      </div>
              </div>
          {% endfor %}
          {% endif %}
      {% if keywords_news_list %}
      <div class="another-content" style="display:inline-block;width:30%;height:200px;padding:0 20px ;vertical-align: top;" >
            <div style="width:100%; background: white;margin-bottom:20px; border: 2px solid lightblue; border-radius: 8px;">
                <ol class="d">
                    {% for news in keywords_news_list %}
                    <a href="{{ news.title_link }}"><li>{{ news.item_title}}</li></a>
                    {% endfor %}
                </ol>
            </div>
	  </div>
      {% endif %}

    </div>
    {% endif %}



    <div class="container">
	  <div class="list-group" style="width: 69%;display: inline-block;">
	  <h2 style="display:block;line-height:76px;">今日重磅</h2>
	      {% if hit_news %}
          {% for news in hit_news %}
	      <div class="list-group-item list-group-item-action" style="margin-bottom:20px; overflow: hidden;">
	          <img src="{{ news.cut_url }}" class="float-right" alt="Cinque Terre" width="100">
	          <div>
	              <div>
	                  <a href="{% url 'display:click' news.title_link %}" id = "hit_link_{{ forloop.counter0 }}">{{news.item_title}}</a><span style="display: inline-block;background:rgba(0,174,255,.5);padding: 0 5px;border-radius:5px;color: #fff;line-height:1.5;font-size:1rem;margin-left:5px;cursor: pointer;">{{ news.category }}</span>
	                  <p>浏览数:<span>{{news.view_count}}</span> 来源:<span>{{news.author}}</span> 时间:<span>{{news.collect_time}}</span></p>
                      {% if news.item_title not in collection_list %}
                          <button id='hit_click_{{ forloop.counter0 }}' type="button" class="btn btn-outline-primary" onclick="collection('{{ news.title_link }}', '{{news.item_title}}', '{{ news.category }}', 're_click_{{ forloop.counter0 }}')">
                              收藏
                          </button>
                      {% else %}
                          <button type="button" class="btn">
                              收藏
                          </button>
                      {% endif %}
	              </div>
	          </div>
	      </div>
          {% endfor %}
          {% endif %}
      </div>

      <div class="another-content" style="display:inline-block;width:30%;height:200px;padding:0 20px ;vertical-align: top;" >
            <div style="width:100%; background: white;margin-bottom:20px; border: 2px solid lightblue; border-radius: 8px;">
                <ol class="d">
                    {% for news in hit_news_list %}
                    <a href="{{ news.title_link }}"><li>{{ news.item_title}}</li></a>
                    {% endfor %}
                </ol>
            </div>
	  </div>
    </div>
</div>

</body>
</html>